无目(整数(N), 整数):
  整数(N, true).

无目(并列{A,B}, 数组(Z)):
  无目(A, Z),
  无目(B, Z).

无目(并列{A,B}, 数组(Z)):
  无目(A, 数组(Z)),
  无目(B, Z).

泛左目(A, X, Z):
  无目(A, Z).

泛左目(A, X, Z):
  左目(A, X, Z).

顺序(A, X, Z):
  泛左目(A, X, Z).

顺序(顺序(并列{A},B), X, Z):
  泛左目(A, X, Y),
  左目(B, 数组(Y), Z).

顺序(顺序(A,B), X, Z):
  顺序(A, X, Y),
  左目(B, Y, Z).

左目(组合(A,B), X, Z):
  右目(A, 双目(X1,Y1,Z1), 左目(X,Z)),
  双目(B, X1,Y1,Z1).

左目(组合(B,A,C), X, Z):
  泛左目(A, X, Y1),
  双目(B, Y1, Y2, Z),
  泛左目(C, X, Y2).

双目(组合(B,A), X1, Y1, Z1):
  双目(A, X, Y, Z),
  左目(B, 双目(X,Y,Z), 双目(X1,Y1,Z1)).

root(T, Z):
  顺序(T, 空, Z),
  eof.
