无目(整数(N), 整数):
  整数(N, true).

无目(并列无目{A,B}, 数组(Z)):
  无目(A, Z),
  无目(B, Z).

无目(并列无目{A,B}, 数组(Z)):
  无目(A, 数组(Z)),
  无目(B, Z).

无目(连接无目{A,B,C}, Z):
  无目(A, Z),
  连目(B, Z, Z, Z),
  无目(C, Z).

无目(组合无目(B,A,C), Z):
  无目(A, X),
  双目(B, X, Y, Z),
  无目(C, Y).

泛左目(无目转左目(A), X, Z):
  无目(A, Z).

泛左目(A, X, Z):
  左目(A, X, Z).

左目(并列左目{A,B}, X, 数组(Z)):
  左目(A, X, Z),
  泛左目(B, X, Z).

左目(并列左目{A,B}, X, 数组(Z)):
  左目(A, X, 数组(Z)),
  泛左目(B, X, Z).

左目(连接左目{A,B,C}, X, Z):
  左目(A, X, Z),
  连目(B, Z, Z, Z),
  泛左目(C, X, Z).

左目(连接左目{A,B,C}, X, Z):
  泛左目(A, X, Z),
  连目(B, Z, Z, Z),
  左目(C, X, Z).

左目(组合左目(B,A,C), X, Z):
  左目(A, X, Z1),
  双目(B, Z1, Z2, Z),
  泛左目(C, X, Z2).

左目(组合左目(B,A,C), X, Z):
  泛左目(A, X, Z1),
  双目(B, Z1, Z2, Z),
  左目(C, X, Z2).

左目(组合(A,B), X, Z):
  右目(A, 双目(X1,Y1,Z1), 左目(X,Z)),
  双目(B, X1,Y1,Z1).

左目(组合(A,B), X, Z):
  右目(A, 双目(X1,X1,X1), 左目(X,Z)),
  连目(B, X1,X1,X1).

双目(组合(B,A), X1, Y1, Z1):
  双目(A, X, Y, Z),
  左目(B, 双目(X,Y,Z), 双目(X1,Y1,Z1)).

连目(组合(B,A), X1, X1, X1):
  连目(A, X, X, X),
  左目(B, 双目(X,X,X), 双目(X1,X1,X1)).

顺序(A, Z):
  无目(A, Z).

顺序(顺序无目(A,B), Z):
  无目(A, X),
  顺序(B, X, Z).

顺序(A, X, Z):
  左目(A, X, Z).

顺序(顺序左目(A,B), X, Z):
  顺序(A, X, Y),
  左目(B, Y, Z).
